.App {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
  }
 
  .controls_wrapper {
    width: 100%;
  }
  
  .carousel_wrapper {
    width: 100%;
  }
  
  .rec-carousel-item:focus {
    outline: none;
  }
  .MianCard{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  .cardHead{
    height: 30px;
    width: 200px;
    border-radius: 50px;
    margin-left: 20%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: var(--primary-dark);
  }
  .cardImage{
    height: 200px;
    width: 60%;
    margin-left: 20%;
  }
  .CardHeading{
    font-weight: bold;
    color: var(--primary-dark);
  }
  .CardPara{
    text-align: center ;
    color: var(--primary-gray);
  }
  .CardLanguage{
    height: 100px;
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .Lang1{
    height: 30px;
    width: 40%;
    border: 2px solid ;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--primary-dark);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition:  all .10s linear;
  }
  .Lang1:hover{
    background-color: var(--primary-dark);
    color: white;
  }
  .cardimg{
    height: 100%;
    width: 100%;
  }