.nav-tabs{
    border-bottom: none;
}
.nav-tabs .nav-link.active{
    background: var(--primary-dark);
    color: white;
}

.react-slideshow-container .default-nav{
    background: rgba(255, 0, 0, 0) !important;
    box-shadow: none;
}
