.Ccourses_main {
    height: max-content;
    width: 100%;
    background-color: transparent;
}
.Ccourses_banner{
    position: relative;
    height: 520px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.Ccourses_banner_image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.Ccourses_banner_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Ccourses_banner_info p{
    margin: 0 70px;
}
.Ccourses_banner_info ul{
    margin: 10px 37px;
}
.Ccourses_banner_info ul li{
    margin: 10px 0;
    width: 100%;
    list-style: none;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Ccourses_banner_info ul li span{
    margin: 0 10px;
}
.Ccourses_banner_info p:nth-child(1){
    font-family: var(--Heading-fonts);
    font-size:2.5em;
    font-weight: bold;
}
.Ccourses_banner_info p:nth-child(2){
    font-family: var(--Para-fonts);
    color: var(--secondary-light);
    font-size: 1.5em;
    margin: -5px 0 10px 70px;
    font-weight: bold;
}
.Ccourses_banner_info p:nth-child(3){
    font-family: var(--Para-fonts);
    color: #999;
    font-size: 1.1em;
    font-weight: lighter;
}
.Ccourses_banner_info_icons{
    color: var(--primary-light);
}
.main_tabs{ 
    z-index: 111;
    margin-top: -40px;
}
.tabs{
    width: 90%;
    margin: auto;
}
.Ccourses_banners{
    background-color: rgba(255, 255, 255, 0.884);
    margin: 20px;
    position: absolute;
    padding: 15px 10px;
    box-shadow: 0 0 15px 0 rgb(232, 231, 231);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Ccourses_banners span{
    width: 90px;
    margin-left: 10px;
    font-family: var(--Heading-fonts);
    line-height: 2.5vh;
}
.Ccourses_banners:nth-child(1){
    top: 0;
    left: 35%;
}
.Ccourses_banners:nth-child(2){
    top: 40%;
    left: 9%;
}
.Ccourses_banners:nth-child(3){
    top: 40%;
    right: 10%;
}
.Ccourses_banners:nth-child(4){
    bottom: 0;
    left: 35%;
}
.Ccourses_banners_logo{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-52%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
}
.Ccourses_banners_logo img{
    width: 100%;
    height: 100%;
}
.C_banner__icon_main{
    width: 60px;
    height: 40px;
}
.C_banner__icon_main img{
    width: 100%;
    height: 100%;
}
.Ccourses_items{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Ccourses_item{
    width: 90%;
    height: max-content;
    padding: 20px;
    margin: 60px;
    box-shadow: 0 0 10px 0 #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Ccourses_item_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Ccourses_item_left{
    width: 75%;
    height: max-content;
}
.Ccourses_item_left h1{
    color: var(--secondary-light);
    font-size: 1.6em;
    font-weight: bold;
    font-family: var(--Heading-fonts);
}
.Ccourses_item_left p{
    color: #999;
    margin: 15px 0;
}
.Ccourses_item_image{
    width: 300px;
    margin: -50px 10px;
    height: 200px;
    margin-top: -160px;
    background-color: white;
    box-shadow: 0 0 5px 0 #eee;
}
.Ccourses_item_image img{
    width: 100%;
    height: 100%;
    background-color: cover;
}
.Ccourses_item_projects{
    width: 80%;
    height: max-content;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.Ccourses_item_projects > div{
    width: max-content;
    height: max-content;
    background-color: white;
    padding: 8px;
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 7px 0 #eee;
    justify-content: center;
}
.Ccourses_item_projects > div > div{
    width: 20px;
    height: 25px;
}
.Ccourses_item_projects > div > div img{
    width: 100%;
    height: 100%;
    margin: 0 5px;
}
.Ccourses_item_projects > div span{
    margin: 0 15px;
    padding-right: 30px;
}
.Ccourses_item_carousel{
    width: 100%;
    height: max-content;
    margin: 20px 0;
}


