.Container_Contact {
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Main_contact {
    min-height: 75vh;
    width: 800px;
    position: relative;
    background-color: white;
}

.Detail_contact {
    height: 85%;
    position: absolute;
    left: -8%;
    top: 7.5%;
    background-color: var(--primary-dark);
    color: white;
    box-shadow: -1px 0px 24px 1px rgba(61, 61, 61, 0.75);
}

.Form_box {
    top: 5%;
    height: 90%;
    position: absolute;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.Contact_Name {
    padding: 20px;
}

.Detail_box {
    width: 300px;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.Details_li {
    list-style: none;
    width: max-content;
    cursor: pointer;
}

.Location_icon {
    font-size: 1.3em;
    margin: 10px;
    margin-top: 0px;
    cursor: pointer;

}

.SocialContact {
    height: 30px;
    width: 40%;
    margin-left: 15%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cont_Social {
    font-size: 1.3em;
    cursor: pointer;
}

.getTouch {
    color: var(--primary-dark);
}

.LabelName {
    color: var(--primary-dark);

}

.FeelFree {
    color: var(--primary-gray);
}

.sendbutton {
    position: absolute;
    bottom: -2%;
    right: 2%;
    background-color: var(--primary-light);
    border-radius: 50px;
    width: 10vw;
    color: white;
    font-weight: bolder;
    letter-spacing: 4px;
    box-shadow: 0px 1px 14px -1px rgba(133, 187, 252, 0.7);
    border: none;
}

@media (max-width:991px) {
    .Main_contact {
        width: 700px;
    }

    .Detail_contact {
        left: -4%;
    }

    .sendbutton {
        bottom: -5%;
    }
}

@media (max-width:767px) {
    .Main_contact {
        width: 600px;
    }

    .Detail_contact {
        left: -4%;
        width: 270px;
    }

    .sendbutton {
        bottom: -5%;
        width: 12vw;
    }
}

@media (max-width:662px) {
    .Container_Contact {
        height: 180vh;
    }

    .Main_contact {
        width: 500px;
        height: 150vh;
        background-color: red;
    }

    .Detail_contact {
        left: 0;
        width: 100%;
        height: 75vh;
        top: 0;
    }

    .Form_box {
        left: 0;
        top: 76vh;
        width: 100%;
        height: 70vh;
    }

    .sendbutton {
        width: 20vw;
    }
}

@media (max-width:520px) {
    .Container_Contact {
        height: 160vh;
    }
    .Main_contact {
        width: 400px;
        height: 150vh;
        background-color: red;
    }
    .sendbutton {
        width: 20vw;
        bottom: 0;
    }
}

@media (max-width:410px) {
    .Container_Contact {
        height: 120vh;
    }
    .Main_contact {
        width: 300px;
        height: 105vh;
        background-color: red;
    }
    .Detail_contact {
        left: 0;
        width: 100%;
        height: 50vh;
        top: 0;
    }
    .Form_box {
        left: 0;
        top: 50vh;
        width: 100%;
        height: 50vh;
    }

    .sendbutton {
        width: 25vw;
        bottom: -30px;

    }
}

@media (max-width:305px) {
    .Container_Contact {
        height: 120vh;
    }
    .Main_contact {
        width: 250px;
        height: 110vh;
        background-color: red;
    }
    .Detail_contact {
        left: 0;
        width: 100%;
        height: 50vh;
        top: 0;
    }
    .Form_box {
        left: 0;
        top: 50vh;
        width: 100%;
        height: 50vh;
    }

    .sendbutton {
        width: 25vw;
    }
}