.MainEventBanner{
    height: 100vh;
    background-color: var(--primary-dark);
    position: relative;
    padding: 0;
    top: 12%;
}
.MainVideo{
    position: absolute;
    width: 100%;
}
.EventSection{
    height: 100vh;
    width: 100%;
    background-color: red;
    margin-top: 100px;
}