.MainEventBanner{
    height: 100vh;
    position: relative;
    padding: 0;
}
.MainVideo{
    position: absolute;
    width: 100%;
}
.EventSection{
    height: max-content;
    display: flex;
    padding: 0;
    margin-top: 100px;
}
.EventSidebar{
   position: sticky;
    top: 0;
    height: 655px;
    width: 25%;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 2px 5px 2px rgb(200, 200, 200);
}
.EventSideHead{
    color: var(--primary-dark);
    font-size: 25px;
    padding: 30px;
    padding-bottom: 10px;
    font-family: var(--Heading-fonts);
}
.EventSidebar li{
    list-style: none;
    color: var(--secondary-light);
    padding: 8px 40px;
    font-size: 15px;
    cursor: pointer;
    width: max-content;
    transition: all .34s linear;
}
.EventSidebar li:hover{
    padding: 8px 50px;
}
.EventsGallery{
    height: 200vh;
    background-color: yellow;
   
}