
.conta{
    height: max-content;
    padding:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255);
}



.faq{
    height: max-content;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.faq h1{
    margin-top: 20px;
    /* font-size:30px; */
    margin-bottom: 40px;
    font-family: var(--Heading-fonts);

}

.f{
    min-height: 50px;
    width: 100%;
    /* border: solid 1px black; */
    /* box-shadow:1px 5px 6px 8px rgba(42, 104, 129, 0.11); */
    box-shadow: rgba(91, 110, 117, 0.151) 0px 6px 18px 0px;
    margin-top: 15px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: white;
    flex-direction: column;
    transition: all ease-out 0.30s;
    margin-top: 30px;
    /* border: solid 1px black; */
   
}

.fp{
    height: max-content;
    height: max-content;
    width: 95%;
    margin-top: 10px;
    color: var(--primary-gray);
}

.fi{
    height:45px !important;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: solid 2px green; */
    margin-top: 15px;
}


.f h5{
    font-weight: 400;
    padding-left: 25px;

}




.fpm{
    margin-top: -14px;
    font-size: 40px;
    color: var(--primary-light);
    cursor: pointer;
    transition: all linear 0.30s;
    margin-right: 20px;
    font-weight: 100;

}

@media screen and (min-width: 320px) and (max-width:480px) {

    .faq{
        width: 90%;
    }

}

@media screen and (min-width: 480px) and (max-width:769px) {

    .faq{
        width: 90%;
    }

}


