.MainFooter {
    background-color: var(--primary-dark);
    padding: 2% 5% 0;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}

.Box {
    height: max-content;
}



.Footer_logo {
    height: 20%;
    width: 60%;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: flex-end;
    margin-top: 20px;

}

.Folllow {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

.followPara {
    margin-bottom: 14px;
    font-size: 14px;
    color: var(--light-gray);
    line-height: 25px;
}

.FootersocialIcons {
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer_Socialicon {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    background-color: var(--facbook-color);
    color: white;
    cursor: pointer;
}

.Footer_Socialicon:nth-child(2) {
    background-color: var(--Twitter-color);
}

.Footer_Socialicon:nth-child(3) {
    background-color: var(--Google-color);
}

.FooterLink {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 30px;
    position: relative;
}

.FooterLink::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 100px;
    background: var(--primary-light);
}

.Box li {
    position: relative;
    margin: 10px 30px;
    cursor: pointer;
    font-size: 14px;
    list-style: none;
    color: var(--light-gray);
    transition: .5s ease;
    width: max-content;
}

.Box li:hover {
    color: var(--primary-light);
    padding: 0 10px;
}

.Box:nth-child(2) p {
    position: relative;
    margin: 10px 30px;
    cursor: pointer;
    color: var(--light-gray);
    transition: .5s ease;
    font-size: 14px;

}

.Box:nth-child(2) p:hover {
    color: var(--primary-light);
}

.Box:nth-child(4) p {
    color: var(--light-gray);
    position: relative;
    margin: 20px 30px;
    cursor: pointer;
}

.subcribe {
    position: relative;
    overflow: hidden;
}

.subPara {
    font-size: 14px;
}

.SubEmail {
    width: 90%;
    margin: 10px 30px;
    padding: 15px;
    background: var(--light-gray);
    border: 1px solid var(--primary-light);
}

.SubEmail:focus {
    outline: none;
}

.Subbtn {
    padding: 15px 20px;
    position: absolute;
    top: 11px;
    right: 0;
    border: none;
    background-color: var(--primary-light);
}

.TEl {
    color: white;
    font-size: 25px;
    transform: rotate(-6deg);
}

.footerhr {
    height: 2px;
    width: 100%;
    color: white;
}

.copyright {
    color: var(--light-gray);
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 0;
}

@media (max-width:1100px) {
    .Box {
        height: max-content;
    }

}

@media (max-width:767px) {
    .Box {
        width: 60%;
    }

    .webdevrs {
        margin: 20px;
    }

    .followPara {
        margin: 20px;
    }

    .Folllow {
        margin: 20px;
    }

    .FootersocialIcons {
        margin: 20px;

    }
}

@media (max-width:460px) {
    .Box {
        width: 80%;
    }
    .followPara {
        width: 80%;
    }
}