/* ////////// */



/* //////// */

.slide-container{
    height: max-content;
    width: max-content;
    /* border: 1px solid red; */
    
}

.slide{
    box-shadow: 1px 0px 18px -2px rgb(233, 232, 232);
    /* border: solid 5px black; */
    width: 90%;
    margin:100px auto;
    height: max-content;
    /* color: blue; */
    /* border: solid 1px green;  */
    height: 60vh;       
}

.row{
        background-color:rgb(250, 250, 250);
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border: solid 1px orange; */
        flex-direction: row;
        /* margin-top: px; */
        /* border: solid 1px black; */
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        
    }
    
    .mrow{
        width: 100%;
        /* border: solid 1px green; */
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;  
        flex-direction: column;
        padding: 0px 60px;
    }
    
    
    
    .sip{
        /* background-color: gray; */
        height: 80%;
        /* border: solid 2px purple; */
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .imgp{
        height: 100%;
        width: 50%;
        /* border: solid 2px palegreen; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .pa{
        height: 85%;
        width: 40%;
        /* border: solid 2px lawngreen; */
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    .pa h1{
        color: var(--primary-dark);
        /* color:; */
        /* color: blue; */
    }

     .pa h4{
        color: var(--primary-dark);
        text-decoration: underline;
     }

     .pa p{
        width: 90%;
        color: var(--primary-gray);
     }

    .img{
        height: 100%;
        width: auto;
    }

    @media screen and (min-width: 320px) and (max-width:480px) {

        /* .slide-container{
            height: max-content;
        } */
        .slide{
            height: 100vh;
            /* border: solid 1px green; */
        }
        .row{
            height: 100%;
        }
        .imgp{
            height: 40%;
            margin-left: 0px;
            /* border: solid 2px orange; */
            width: 100%;
        }

        .img{
            width: 100%;
            height: 100%;

        }

        .sip{
            height: 100%;
        }
        .mrow{
            height: 100%;
            width: 90%;
            display: flex;
            /* justify-content: center;
            align-items: center;
            flex-direction: column; */

        }

        .sip{
            height: 100%;
            flex-direction: column;
            /* border: solid 1px black; */
            align-items: flex-start;
            
        }

        .pa{
            height: 60%;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: auto;
        }

        .pa h4{
            font-size: 20px;
        }

        .pa h1{
            font-size: 25px;
        }

        .pa p{
            width: 100%;
            /* border: solid 1px pink; */
            text-align: center;
        }

    }



    /* ///// */



    @media screen and (min-width: 481px) and (max-width:550px) {

        /* .slide-container{
            height: max-content;
        } */
        .slide{
            height: 100vh;
            /* border: solid 1px green; */
        }
        .row{
            height: 100%;
        }
        .imgp{
            height: 50%;
            margin-left: 0px;
            /* border: solid 2px orange; */
            width: 100%;
        }

        .img{
            width: 90%;

        }

        .sip{
            height: 100%;
        }
        .mrow{
            height: 100%;
            width: 90%;
            display: flex;
            /* justify-content: center;
            align-items: center;
            flex-direction: column; */

        }

        .sip{
            height: 100%;
            flex-direction: column;
            /* border: solid 1px black; */
            align-items: flex-start;
            
        }

        .pa{
            height: 50%;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: auto;
        }

        .pa h4{
            font-size: 20px;
        }

        .pa h1{
            font-size: 25px;
        }

        .pa p{
            width: 100%;
            /* border: solid 1px pink; */
            text-align: center;
        }

    }


    @media screen and (min-width: 551px) and (max-width:720px) {

        /* .slide-container{
            height: max-content;
        } */
        .slide{
            height: 100vh;
            /* border: solid 1px green; */
        }
        .row{
            height: 100%;
        }
        .imgp{
            height: 50%;
            margin-left: 0px;
            /* border: solid 2px orange; */
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }

        .img{
            width: 90%;

        }

        .mrow{
            height: 100%;
            width: 90%;
            display: flex;
            /* justify-content: center;
            align-items: center;
            flex-direction: column; */

        }

        .sip{
            height: 100%;
            flex-direction: column;
            /* border: solid 1px black; */
            align-items: flex-start;
            justify-content: center;

            
        }

        .pa{
            height: 40%;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin: auto;
        }

        .pa h4{
            font-size: 20px;
        }

        .pa h1{
            font-size: 25px;
        }

        .pa p{
            width: 100%;
            /* border: solid 1px pink; */
            text-align: center;
        }

    }


    @media screen and (min-width: 721px) and (max-width:800px) {


        .slide{
            height: 90vh;
            /* border: solid 1px green; */
        }
        .row{
            height: 100%;
        }
        .imgp{
            height: 50%;
            margin-left: 0px;
            /* border: solid 2px orange; */
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }

        .img{
            width: 80%;

        }

        .mrow{
            height: 90%;
            width: 90%;
            display: flex;
            /* justify-content: center;
            align-items: center;
            flex-direction: column; */

        }

        .sip{
            height: 100%;
            flex-direction: column;
            /* border: solid 1px black; */
            align-items: flex-start;
            justify-content: center;

            
        }

        .pa{
            height: 40%;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin: auto;
        }

        .pa h4{
            font-size: 20px;
        }

        .pa h1{
            font-size: 25px;
        }

        .pa p{
            width: 100%;
            /* border: solid 1px pink; */
            text-align: center;
        }


    }




    @media screen and (min-width:801px) and (max-width:1100px) {


        .slide{
            height: 90vh;
            /* border: solid 1px green; */
        }
        .row{
            height: 100%;
        }
        .imgp{
            height: 50%;
            margin-left: 0px;
            /* border: solid 2px orange; */
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }

        .img{
            width: 100%;

        }

        .mrow{
            height: 90%;
            width: 90%;
            display: flex;
            /* justify-content: center;
            align-items: center;
            flex-direction: column; */

        }

        .sip{
            height: 100%;
            flex-direction: column;
            /* border: solid 1px black; */
            align-items: flex-start;
            justify-content: center;

            
        }

        .pa{
            height: 40%;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: auto;
        }

        .pa h4{
            font-size: 20px;
        }

        .pa h1{
            font-size: 25px;
        }

        .pa p{
            width: 75%;
            /* border: solid 1px pink; */
            text-align: center;
        }


    }





    @media screen and (min-width:1101px) and (max-width:1350px) {

        .mrow{
            width: 100%;
        }

        .imgp{
           width: 45%; 
        }
        .img{
            width: 100%;
        }
        .pa{
            width: 50%;
        }

    }

  