.cont{
    height: max-content;
  
}

.two{
    position: relative;
    height:90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twoimg{
    position: relative;
    height: 80%;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
    background-image: linear-gradient(rgba(18, 66, 125, 0.8), rgba(22, 73, 135, 0.8)), url("../images/Forms\ Background.png");
}
.twovideo{
    position: absolute;
    width: 100%;
    left:0%;
    z-index: 10;
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
}
.twovideo video{
    display: none;
    width:100%;
    height:auto;  
    border-radius: 8px;
}
.twovideo img{
    display:none;
    position: absolute;
    width:60px;
    height:auto;
    cursor:pointer;
    border-radius: 50%;;
}
.btn{
    z-index: 20;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: green;
}

.kp{
    height: 80%;
    width: 55%;
    position: absolute;
    left: 5%;
    top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    /* border: solid 1px black; */
}
.kp img{
    width:60px;
    height:auto;
    cursor:pointer;
}
.kp h2{
    color: white;
    font-family: var(--Heading-fonts);
    /* font-weight: 100; */

}

.kp h1{
    color: var(--primary-light);
    font-size: 24px;
    font-family: var(--Heading-fonts);
    width: 60%;
}

.kp p{
    color: rgb(223, 219, 219);
}

.kp span{
    cursor: pointer;
    border: none;
   margin-top:-15px;
    color:var(--primary-light);
    border-radius: 5px;
    transition: all .4s ease-in-out;
    cursor:pointer;
  
}
.kp button:hover {
    background-position:100% 0;
    transition: all .4s ease-in-out;
}

@media screen and (min-width: 320px) and (max-width:480px) {

    .two{
        flex-direction: column;
        height: 160vh;
    }
    .twoimg{
        height:70%;
        width: 100%;
    }
    .kp h1{
        width: 90%;
    }
    .kp p{
        text-align: center;
    }
    .kp h1{
       
        text-align: center;
        margin-left: 0;
    }
     .kp{
         top: 7%;
         height: 55%;
         width: 100%;
         justify-content: space-between;
         align-items:center;
         left: 0%;

     }

     .twoside{
         height:30%;
         width: 90%;
         margin-top: -50%;
         margin-left: 0.5%;

     }

    
}



@media screen and (min-width: 480px) and (max-width:769px) {

    .two{
        flex-direction: column;
        height: 160vh;
    }
    .twoimg{
        height:70%;
        width: 100%;
    }
    .kp h1{
        width: 90%;
    }
    .kp p{
        text-align: center;
        /* border: solid 1px white; */
    }
    .kp h1{
       
        text-align: center;
        /* border: solid 1px white; */
        margin-left: 0;
    }
     .kp{
         top: 7%;
         height: 55%;
         width: 96%;
         justify-content: space-between;
         align-items:center;
         /* border: solid 1px white; */
         left: 0%;

     }

     .twoside{
         height:30%;
         width: 90%;
         margin-top: -30%;
         margin-left: 0.5%;
     }

    
}

@media screen and (min-width: 770px) and (max-width:1025px) {

    .twoimg{
       width: 100%;
    }

    .two{
        height: 100vh;
        width: 100%;
    }
    .twoside{
        margin-left: -25%;
        height: 70%;
        width: 75%;
    }

    .kp h1{
        width: 80%;
    }

    .kp p{
        width: 100%;
    }
    

}

@media screen and (min-width: 1026px) and (max-width:1200px) {

    .twoimg{
        height: 80%;
        width: 100%;
    }
    .kp{
        width: 60%;
    }
    .twoside{
        width: 60%;
        left: 0%;
    }

}
