.MainLogin{
    height: 100vh;
    background-image: url(../images/Forms\ Background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginOverlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--primary-dark);
    opacity: .8;
}
.LoginForm {
    position: absolute;
    height: 400px;
    width: 400px;
    backdrop-filter: blur(5px);
    background-color: rgba(245, 245, 245);
    border-radius: 5px;
}
.LoginAlert{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Loginhead{
    margin-top: 10px;
    font-size: 1.6em;
    color: var(--primary-dark);
    font-weight: bold;
}
.LoginFormm{
    width: 80%;
    margin-left: 10%;
}
.loginLabel{
    color: var(--primary-dark);
}
.LoginPlace::placeholder{
    font-size: 13px;
}
.LoginBtn{
    position: absolute;
    left: 20%;
    width: 60%;
}