*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --primary-dark: rgb(25,67,118);
    --primary-light: rgb(70,198,206);
    --primary-gray: rgb(167, 153, 153);
    --light-gray:rgb(214, 205, 205);
    --Heading:'Bebas Neue', cursive;    
    --Para:'Asap Condensed', sans-serif;  
}
.nav_nav{
    height: 120px;
    background-color: transparent;
}
.navbar_main{
    width: 100%;
    height: 80px;
    background-color: var(--primary-dark);
    box-shadow: 0px 0px 20px rgba(156, 156, 156, 0.405);
}
.top_part1{
    height: 20px;
    display: flex;
    align-items: center;
}
.top_part2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.top_part1 a{
    font-size: .85em;
}
.navbar_top{
    width: 90%;
    height: 40px;
    margin: auto;
    color: white;
    font-size: 17px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top_part2{
    width: max-content;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_part2 div{
    margin: 5px;
    font-size: .8em;
}
.navbar{
    width: 90%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(156, 156, 156, 0.222);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 11;
}
.logo{
    width: 70px;
    height: 50px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 100%;
    height: 100%;
}
.navbar_nav{
    width: 450px;
    margin-right: 50px;
    height: max-content;
}
.navbar_nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar_nav ul > li{
    padding: 30px 0px;
    cursor: pointer;
}
.navbar_nav ul > li a{    
    color: #999;
    margin: 20px;
    font-weight: 300;
    text-decoration: none;
}
.navbar_nav ul > li:hover a{
    color: blue;
}
.navbar_nav ul li:nth-child(1) a{
    color: var(--primary-dark);
    background-color: rgb(255, 247, 247);
}



.top_part3{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top_part3 span{
    font-size: .8em;
    margin: 5px;
}
@media screen and (max-width: 990px) {
    .nav{
        left: 0;
        top: 80px;
        width: 100%;
        box-shadow: 0px 0px 10px rgba(156, 156, 156, 0.222);
        background-color: white;
    }
}
@media screen and (max-width: 678px) {
    .top_part2:nth-child(3){
        display: none;
    }
}
@media screen and (max-width: 565px) {
    .top_part2:nth-child(2){
        display: none;
    }
}



.navbar_nav ul li:hover .coursesDropdown{
    opacity: 1;
    margin-top: 0;
    visibility: visible;
}

.coursesDropdown{
    position: absolute;
    top: -5px;  
    right: -41px;
    width: 89vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    transition: .5s ease;
    background-color: white;
    box-shadow: 0 0 10px 0 #eee;
    z-index: 11;
}
.show{
    padding: 0;
    border: 0;
}
.coursesC{  
    width: 60%;
    height: max-content;
    display: flex;
    justify-content: center;
}
.coursesGif{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}
.coursesGif img{
    width: 60%;
    height: 70%;
    margin: auto;
}
.courseLanguage{
    width: 20%;
    height: 80%;
    margin: 0 30px;
}
.courseLanguage p{
    color: darkblue;
}
.courseLanguage li{
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    font-size: 13px;
    list-style: none;
    color: #999;
    transition: .5s ease;
}
.courseLanguage li:hover{
    color: var(--primary-dark);
    padding: 0 10px;
}
.MobileApplication{
    width: 100%;
    height: 50%;
}
.Cloud{
    width: 100%;
    height: 50%;
}

@media screen and (max-width: 1200px) {
    .courseLanguage li{
        margin: 5px 0;
    }
    .coursesDropdown{
        width: 90vw;
    }
}
@media screen and (max-width: 990px) {
    .coursesDropdown{
        top: 20px;
        right: 0;
    }
}
@media screen and (max-width: 790px) {
    .coursesGif img{
        width: 80%;
    }
}
@media screen and (max-width: 630px) {
    .coursesDropdown{
        flex-direction: column !important;
        height: max-content;
        width: 90vw;
    }
    .coursesC{
        width: 100%;
        padding: 30px 0;
    }
    .coursesGif{
        width: 100%;
        padding: 10px 0;
    }
}
@media screen and (max-width: 430px) {
    .coursesDropdown{
        width: 90vw;
    }
    .coursesC{
        width: 100%;
        padding: 30px 10px;
        flex-direction: column;
    }
    .courseLanguage{
        width: 100%;
        margin-bottom: 30px;
    }
}