
.con{
    /* background-color: grey; */
    }
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border: solid 1px black; */
        flex-direction: row;
        margin-top: 40px;
    
    }
    .imgp{
        height: 98%;
        width: 49%;
        /* border: solid 1px green; */
        display: flex;
        justify-content:center;
        align-items: center;
        
    }
    
    .img{
        
        border-radius: 0px 50px 0px 50px;
        height:100% ;
        width:100%;
        /* border: solid 1px black; */
    
    }
    
    .pa{
        /* height:10%; */
        height: 450px;
        width: 49%;
        /* border: solid 1px green; */
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .pa h5{
        text-decoration: underline;
        font-family: var(--Para-fonts);
        color: var(--secondary-light);
        font-size: 1.5em;
        font-weight: bold;
    }
    
    .pa h1{
        font-size:2.5em;
        font-weight: bold;
        font-family: var(--Heading-fonts);
    }
    
    .pa p{
        font-size: 1.1em;
        text-align: justify;
        color: var(--primary-gray);
        /* border: solid 1px black; */
    }
    
    
    @media screen and (min-width: 320px) and (max-width:480px) {
    
        .container{
            width: 100%;
            height: max-content;
    
        }
    
        .row{
            flex-direction: column;
    
        }
        .imgp{
            width: 100%;
        }
        .pa{
            width: 100%;
            align-items: center;
            
        }
    
        .pa p{
            text-align: center;
            /* font-size: 100%; */
            height: max-content;
            width: 95%;
        }
    
        .row:nth-child(2){
            flex-direction: column-reverse !important;
    
        }
    
    
    
    }
    
    @media screen and (min-width: 480px) and (max-width:769px) {
    
        .container{
            width: 100%;
      
        }
    
        .row{
            flex-direction: column;
    
        }
        .imgp{
            width: 100%;
        }
        .pa{
            width: 100%;
            align-items: center;
            
        }
    
        .pa p{
            text-align: center;
            height: max-content;
            width: 95%;
        }
    
        .revers{
            flex-direction: row-reverse !important;
    
        }
        .row:nth-child(2){
            flex-direction: column-reverse !important;
    
        }
    
    }
    
    
    @media screen and (min-width: 770px) and (max-width:991px) {
    
        .container{
            width: 100%;
      
        }
    
        .row{
            flex-direction: column;
    
        }
        .imgp{
            width: 80%;
        }
        .pa{
            width: 100%;
            align-items: center;
            
        }
    
        .pa p{
            text-align: center;
            height: max-content;
            width: 95%;
        }
    
        .revers{
            flex-direction: row-reverse !important;
    
        }
        .row:nth-child(2){
            flex-direction: column-reverse !important;
    
        }
    
    }
    
    
    @media screen and (min-width: 770px) and (max-width:991px) {
    
    
    
    }