
.slide-container{
    background-color: white;
    /* border: solid 1px orange; */
    
}
    
    .slide{
        width: 90%;
        margin: auto;
        /* color: blue; */
        background-color: white !important;
        border: solid 1px orange;        
    }

    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border: solid 1px orange; */
        flex-direction: row;
        /* margin-top: px; */
        /* border: solid 1px black; */
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        
    }
    
    .mrow{
        box-shadow: 1px 0px 18px -2px rgba(231, 231, 231, 0.75);
        width: 85%;
        /* border: solid 1px green; */
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .step{
        /* border: solid 2px brown; */
        height: 10%;
    }

    .sip{
        height: 80%;
        /* border: solid 2px purple; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgp{
        height: 100%;
        width: 50%;
        /* border: solid 2px palegreen; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .pa{
        height: 85%;
        width: 40%;
        /* border: solid 2px lawngreen; */
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

     .pa h4{
        color: var(--primaty-dark);
        text-decoration: underline;
     }

     .pa p{
        width: 90%;
     }

    .img{
        height: 100%;
        width: auto;
    }

    @media screen and (min-width: 320px) and (max-width:480px) {

        .mrow{
            height: 100vh;
            width: 90%;
        }

        .sip{
            flex-direction: column;
            border: solid 1px black;
            
        }

        .pa p{
            width: 100%;
            border: solid 1px pink;
        }

    }




