.Main_Signup {
    height: 100vh;
    background-image: url(../images/Forms\ Background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignUpoverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--primary-dark);
    opacity: .8;
}
.AlertDiv{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Uphead{
    margin-top: 20px;
    font-size: 1.7em;
    color: var(--primary-dark);
    font-family: var(--Heading-fonts);
}
.Signupform {
    position: absolute;
    height: 550px;
    width: 400px;
    backdrop-filter: blur(5px);
    background-color: rgba(245, 245, 245);
    border-radius: 5px;
}
.SignUpFormm{
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}
.Upbtn{
    position: absolute;
    right: 10%;
    text-transform: capitalize;
    border: none;
    background-size:300% 100%;
    background-image: linear-gradient(45deg, var(--primary-light), var(--secondary-light),#04befe);
    border-radius: 5px;
    transition: all .4s ease-in-out;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}
.Upbtn:hover{
    background-position:100% 0;
    transition: all .4s ease-in-out;    
}
.Label{
    color: var(--primary-dark);
}
.Already{
    font-size: 14px;
    color: var(--primary-dark);
    cursor: pointer;
    position: absolute;
    bottom: 2%;
}
.Plachold::placeholder{
    font-size: 13px;
}
